.container-so.main {
    display: none;
    height: 100%;
    background-image: url(../images/watermark-2.png);
}

.container-so.main .exp_footer .footer {
    max-width: 1024px;
    width: 100%;
    background-color: var(--theme-pri-color);
    outline: 1px solid var(--theme-popup-border);
}

.container-so.main .exp_header .copyrighttext {
    font-size: 11px;
    color: var(--theme-copy-text);
    position: absolute;
    right: 10px;
    bottom: 5px;
    justify-content: right;
}

/* Main Screen*/
.container-so.main .exp_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    z-index: 10;
    background-color: var(--theme-header-bg);
}

.container-so.main .exp_footer .footer {
    position: relative;
}

.container-so.main .exp_footer .footer .copyrighttext {
    font-size: 11px;
    color: var(--theme-copy-text);
    position: absolute;
    right: 10px;
    bottom: 5px;
    justify-content: right;
    display: none;
}

.container-so.main .exp_header .header {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 4px 9px 0px rgba(102, 102, 102, 0.6);
    -webkit-box-shadow: 0px 4px 9px 0px rgba(102, 102, 102, 0.6);
    -moz-box-shadow: 0px 4px 9px 0px rgba(102, 102, 102, 0.6);
    outline: 1px solid var(--theme-popup-border);
    position: relative;
    display: none;
}

.container-so.main .exp_header .header .head-pan-container {
    display: flex;
    padding: 0px;
    height: 72px;
}

.container-so.main .exp_header .header .leftpan {
    border-right: 1px solid var(--theme-popup-border);
    min-width: 428px;
}

.container-so.main .exp_header .header .leftpan .title {
    font-family: 'Montserrat-Bold';
    color: var(--theme-dark-text);
}

.container-so.main .exp_header .header .leftpan .sub-title {
    color: var(--theme-sec-text-color);
}

.container-so.main .exp_header .header .rightpan {
    margin-left: 1em;
    display: table;
    display: flex;
    align-items: center;
}

.container-so.main .exp_header .header .main-src-logo {
    width: 96px;
    margin: 0.5em 1em 0.5em 0.2em;
}

.container-so.main .exp_header .header h1 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding-right: 46px;
}

.container-so.main .exp_header .header h1 .title {
    font-family: 'Montserrat-Bold';
}

.container-so.main .exp_header .header h1 .title,
.container-so.main .exp_header .header h1 .sub-title {
    width: 100%;
    display: block;
}

.container-so.main .exp_body {
    height: 100%;
    position: relative;
}

.springWeight {
    touch-action: none;
}

.container-so.main .exp_body .split {
    height: 100%;
    position: relative;
}

.btn_stop, .btn_settings, .btn_sheet, .btn_calculations, .btn_info, .btn_procedure, .btn_reset, .btn_themes {
    height: 46px;
    width: 46px;
    margin: 1px;
    padding: 0px;
    border-radius: 0;
}

.btn-theme-wrap {
    position: absolute;
    right: 0px;
    top: 12px;
    z-index: 20;
}

.btn_themes {
    background-image: url(../images/theme-icon-outline-right.svg);
    background-repeat: no-repeat;
    background-size: 86px 44px;
}

div.footer-menu-container {}

div.footer-menu-container div.btn-wrap {
    margin: 0;
    float: left;
    border-right: 1px solid var(--theme-menu-icon-sepr);
}

div.footer-menu-container.left div.btn-wrap:first-child {
    border-left: 1px solid var(--theme-menu-icon-sepr);
}

div.footer-menu-container div.btn-wrap button:focus, div.btn-theme-wrap .btn_themes {
    box-shadow: none;
}

/*End Main Screen*/

/* MobileView Style */
.mobileview .sliderTPContainer .sliderInnerWrapper {
    padding: 4px 6px 0px 0px;
}

.mobileview .sliderWrapper {
    float: left;
    /*padding-top: 4px;
    padding-bottom: 0px;*/
    /*width: 100%;*/
}

.mobileview.cust-popup.settings .popupcontent {
    font-size: 12px;
}

.mobileview.cust-popup.settings .calculationsCol h2 {
    padding: 6px 0px;
}

.mobileview.cust-popup.settings .calculationsCol p {
    margin-bottom: 0.3rem;
}

.mobileview .inputContainer .input_box.inputTimePeriod {
    padding: 2px 2px 2px 3px;
    height: 25px;
}

.mobileview .settingsCol {
    padding-bottom: 10px;
    border-right: 0.5px solid var(--theme-popup-border);
}

.mobileview .calculationsCol {
    border-left: 0.5px solid var(--theme-popup-border);
}

.mobileview .sliderInnerWrapper {
    padding: 0px 28px;
    float: left;
    width: 130px !important;
}

.mobileview .sliderTPContainer .sliderInnerWrapper {
    width: auto !important;
}

.mobileview .sliderWrapper .slider-label {
    float: left;
    padding-right: 0px;
    margin-top: 2px;
}

.wrapper[device="mobile"] .popup {
    /*height: 100%;*/
}

.mobileview .settingsCol .row .col-lg-3.col-md-3.col-sm-12 {
    width: 100% !important;
}

/*End MobileView Style*/

/*Split*/
.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    width: 100%;
    background-color: var(--theme-popup-border);
    position: relative;
    z-index: 1;
}

.gutter.gutter-horizontal {
    height: 100%;
    width: 1px;
    float: left;
    background-color: var(--theme-popup-border);
    position: relative;
    z-index: 1;
}

.gutter.gutter-horizontal .h-handle {
    content: '';
    position: absolute;
    background-image: url(../images/drag-btn-horizontal.svg);
    cursor: col-resize;
    height: 36px;
    width: 36px;
    bottom: 30px;
    right: -17px;
}

.gutter.gutter-vertical .v-handle {
    content: '';
    position: absolute;
    background-image: url(../images/drag-btn-vertical.svg);
    cursor: row-resize;
    height: 36px;
    width: 36px;
    top: -18px;
    right: 20px;
}

.linksheet {
    display: none;
}

.popup, .cust-popup {
    display: none;
    width: 100%;
    background-color: var(--theme-popup-background);
    overflow: auto;
    max-height: 100%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid var(--theme-popup-border);
    z-index: 24;
    outline: 1px solid var(--theme-popup-border);
}

.cust-popup.settings {
    display: block;
}

.cust-popup.settings .popuphead {
    display: none;
}

.btn-wrap.btn-wrap-settings {
    display: none;
}

.right_align_popup {
    width: 280px;
    height: 100%;
    padding-bottom: 46px;
    top: 0px;
    right: 0px;
}

.popup .container h2, .modal.themepopup .modal-header h2.modal-title,
.cust-popup .container h2 {
    color: var(--theme-pri-color);
    font-family: 'Montserrat-Bold';
    font-size: 16px;
    padding: 15px 0px;
    margin: 0;
}

.modal.themepopup .modal-header h2.modal-title {
    padding: 0em;
}

.modal.themepopup .modal-content {
    background-color: var(--theme-sec-background);
}

.modal.themepopup .modal-content .modal-header {
    padding: 0.7rem 1rem;
    border-bottom: 1px solid var(--theme-popup-border);
}

.modal.themepopup .modal-content .modal-body {
    padding: 0rem;
}

.modal.themepopup .modal-content .modal-body .form-check-label {
    width: 100%;
    display: inline-block;
    margin-bottom: -11px;
}

.modal.themepopup .modal-content .modal-body .theme-row {
    padding: 0.5em 1em 0.5em 1em;
    border-bottom: 1px solid var(--theme-popup-border);
    margin: 0;
}

.modal.themepopup .modal-content .modal-body .theme-row.selected {
    background-color: var(--theme-popup-background);
}

.modal.themepopup .modal-content .modal-body .theme-row:last-child {
    border-bottom: 0px solid var(--theme-popup-border);
}

.modal.themepopup .modal-content .modal-body .color-row {
    float: right;
    display: inline-flex;
}

.modal.themepopup .modal-content .modal-body .color-row div.col1,
.modal.themepopup .modal-content .modal-body .color-row div.col2,
.modal.themepopup .modal-content .modal-body .color-row div.col3 {
    height: 22px;
    width: 22px;
    border: 1px solid var(--theme-popup-border);
    border-radius: 50%;
    display: inline-block;
    margin: 1px 2px;
}

div.closepopup {
    position: absolute;
    right: 20px;
    top: 15px;
    margin-top: -5px;
}

.btn-close-popup, .btn-close-theme-popup, .btn-close-cust-popup {
    border-style: none;
    background-color: transparent;
}

.popup.procedure ol {
    list-style: decimal;
    padding-left: 20px;
}

.spancalculate {
    color: var(--theme-pri-color);
    text-align: center;
    min-width: 20px;
    display: inline-block;
    margin: 0 5px;
    font-family: 'Montserrat-SemiBold';
}

.squarerootbar {
    border-top: 1px solid;
}

.inlblock {
    display: inline-block;
}

.procBox {
    position: relative;
    padding-left: 35px;
}

.procstepno {
    position: absolute;
    left: 15px;
    width: 20px;

}

/*Settings Panel*/
.sliderWrapper {
    float: left;
    /*padding-top: 8px;
    padding-bottom: 8px;*/
    /*width: 100%;*/
}

.sliderWrapper .sliderInnerWrapper {
    padding: 0px 10px;
    float: left;
    width: 150px;
    margin-top: 25px;
}

.sliderTPContainer .sliderInnerWrapper {
    width: auto;
    padding: 4px 6px 0px 10px;
}

.sliderWrapper .inputContainer {
    float: left;
    margin-left: 10px;
    margin-top: 12px;
}

.sliderContainer {
    position: relative;
    padding: 10px 0px;
    padding-top: 0px;
}

.sliderContainer .slider {
    width: 100%;
}

.sliderContainer .min, .sliderContainer .max {
    position: absolute;
    text-align: center;
    width: 30px;
    top: 3px;
}

.sliderContainer .min {
    left: -30px;
    top: -30px
}

.sliderContainer .max {
    right: -30px;
    top: -30px
}

.slider-label {
    font-family: 'Montserrat-SemiBold';
    padding-bottom: 3px;
    /* text-align: center; */
}

.content_div .slider-label {
    text-align: center;
}

.inputContainer .input_box {
    min-width: 68px;
    height: 30px;
    border: 1px solid var(--theme-pri-color);
    background: white;
    font-family: 'Montserrat-SemiBold';
    border-radius: 5px;
    text-align: center;
    padding: 3px 3px 3px 10px;
    float: left;
    color: var(--theme-pri-color);
}

.inputContainer .input_box.inputTimePeriod {
    width: 50px;
    border: 1px solid var(--theme-pri-color);
    padding: 3px 3px 3px 3px;
}

.inputContainer .unit {
    color: var(--theme-pri-color);
    padding: 3px;
    float: left;
}

.popup.procedure .popupcontent ul li {
    display: inline-block;
}

/*Slider CSS*/

input[type="range"] {
    -webkit-appearance: none;
    height: 4px;
    background: #C0C0C0;
    border-radius: 5px;
    background-image: linear-gradient(#4B4B4B, #4B4B4B);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    /*border: 1px solid #000000;*/
    margin-right: -1px;
}

/* Input Thumb */

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: var(--theme-pri-color);
    cursor: pointer;
    transform: scale(4.2);
    border: 0px;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    border: 0px;
    background: var(--theme-pri-color);
    cursor: pointer;
    transform: scale(4.2);
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: var(--theme-pri-color);
    cursor: pointer;
    transform: scale(4.2);
}

.popup.procedure input[type="range"] {
    opacity: 0.6;
    cursor: default;
}


.popup.procedure input[type="range"]::-webkit-slider-thumb {
    cursor: default;
}

.popup.procedure input[type="range"]::-moz-range-thumb {
    cursor: default;
}

.popup.procedure input[type="range"]::-ms-thumb {
    cursor: default;
}


/* Input Track */

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input[type="range"]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

/*End*/
/*End Settings Panel*/
/*Procedure Panel*/
.procSliderWrapper {
    width: 100%;
    padding-bottom: 20px;
    display: inline-block;
}

.procInnerSliderWrapper {
    width: 170px;
    /* padding-left: 30px; */
}

.procInnerSliderWrapper .inputContainer .input_box {
    height: 33px;
    width: 60px;
}

.procbtnWrapper .btn_stop {
    background-color: var(--theme-pri-color);
}

/*End Procedure Panel*/

/*Spring Styles*/
.exp_body_content {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.springCanvas {
    display: inline-block;
    position: relative;
    padding-top: 5px;
    transform-origin: center top;
}

.spingContainer {
    height: 100%;
    width: 100%;
    text-align: center;
    transform-origin: center top;
}

.graphContainer {
    width: 510px;
    height: 410px;
    padding-top: 3em;
    padding-bottom: 3em;
    transform-origin: center top;
    margin: 0 auto;
}

.graphWrapper {
    position: relative;
}

/*End Spring Styles*/
/*Highchart*/
.highcharts-axis-title {
    font-family: 'Montserrat-SemiBold';
}

#myChart {
    padding-left: 40px;
}

.yAxisLine {
    position: absolute;
    width: 1px;
    top: -20px;
    left: 55px;
    height: 375px;
}

.y-axis-arrow {
    position: absolute;
    top: -10px;
    left: 0px;
    height: 100%;
}

.xAxisLine {
    position: absolute;
    width: 400px;
    top: 158px;
    left: 65px;
    height: 1px;
}

.x-axis-arrow {
    position: absolute;
    top: -11px;
    left: 9px;
    width: 100%;
}

.x-axis-text {
    position: absolute;
    right: -30px;
    top: 14px;
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat-SemiBold';
}

.vText {
    position: relative;
    left: -58px;
    transform: rotate(270deg);
    display: inline-block;
    width: max-content;
}

.y-axis-text {
    position: relative;
    left: -55px;
    top: -100px;
    font-size: 14px;
    font-family: 'Montserrat-SemiBold';
}

.x-axis-minlimit {
    position: absolute;
    left: -75px;
    top: -8px;
    font-size: 12px;
    width: 60px;
    text-align: center;
    font-family: 'Montserrat-SemiBold';
    color: var(--theme-highlight);
}

.x-axis-maxlimit {
    position: absolute;
    right: -25px;
    top: 40px;
    font-size: 12px;
    width: 70px;
    text-align: center;
    font-family: 'Montserrat-SemiBold';
    color: var(--theme-highlight);
}

/**/

.springWrapper {
    position: relative;
}

svg .cls-1 {
    fill: none;
    stroke: var(--theme-pri-text-color);
    stroke-linecap: round;
    stroke-linejoin: round;
}

svg .cls-2 {
    fill: none;
    stroke: var(--theme-sec-text-color);
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

svg .cls-3 {
    fill: none;
    stroke: var(--theme-pri-color);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

svg .cls-4 {
    fill: var(--theme-header-bg);
    stroke: var(--theme-sec-text-color);
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

svg .cls-100 {
    fill: var(--theme-pri-color);
}

svg .cls-101 {
    fill: none;
    stroke: var(--theme-pri-text-color);
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.btn.active svg .cls-1, .btn.active svg .cls-2, .btn.active svg .cls-3 {
    stroke: var(--theme-pri-color);
}

.btn_stop.active, .btn_settings.active, .btn_sheet.active, .btn_calculations.active,
.btn_info.active, .btn_procedure.active, .btn_reset.active {
    background-color: var(--theme-pri-text-color);
}

.btn_settings:active svg .cls-1, .btn_settings:active svg .cls-2, .btn_settings:hover svg .cls-3,
.btn_sheet:active svg .cls-1, .btn_sheet:active svg .cls-2, .btn_sheet:hover svg .cls-3,
.btn_calculations:active svg .cls-1, .btn_calculations:active svg .cls-2, .btn_calculations:hover svg .cls-3,
.btn_info:active svg .cls-1, .btn_info:active svg .cls-2, .btn_info:hover svg .cls-3,
.btn_procedure:active svg .cls-1, .btn_procedure:active svg .cls-2, .btn_procedure:hover svg .cls-3,
.btn_stop:active svg .cls-1, .btn_stop:active svg .cls-2, .btn_stop:active svg .cls-3,
.btn_reset:active svg .cls-1, .btn_reset:active svg .cls-2, .btn_reset:active svg .cls-3 {
    stroke: var(--theme-pri-color);
}

.btn_settings:active, .btn_sheet:active, .btn_calculations:active, .btn_info:active, .btn_procedure:active,
.btn_stop:active, .btn_reset:active {
    opacity: 0.8;
    background-color: var(--theme-pri-text-color);
}


/* Best View Message*/
#bestviewed_popup_msg {
    opacity: 1;
    display: block;
    background: #FFF;
    display: none;
}

/**/

/* Preloading */
.preloader {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--body-background);
}

.preloadpanel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 650px;
    max-width: 1024px;
    height: 100%;
    width: 100%;
    background-color: var(--theme-popup-background);
}

.preloadingInstr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    width: 200px;
    border: 1px solid var(--theme-dark-text);
    background-color: var(--theme-header-bg);
}

.preloadingInstr .progress {
    width: 150px;
    height: 5px;
    background-color: #000;
    margin: 5px auto;
}

.preloadingInstr .progress-text {
    width: 100%;
    padding-top: 5px;
    text-align: center;
}

/**/
.tooltip-arrow {
    display: none !important;
}

.tooltip-inner {
    border: 1px solid #fff !important;
    box-shadow: rgb(0 0 0 / 80%) 1px 1px 4px 1px;
    font-family: 'Montserrat-Regular';
    opacity: 0.8;
}

.cust-popup.procedure {
    max-height: 40%;
}

.activity-page-expl-logo {
    height: 72px;
    padding: 5px 10px 5px 16px;
    background: #000;
}

.pz-parent {
    /*position: relative;*/
    overflow: scroll;
}

#split-0, #split-1 {
    overflow: auto;
}

.settingsCol, .calculationsCol {
    overflow: hidden;
}

.h-split-main .graphContainer {
    transform-origin: top left;
    margin: 0;
}

/*Incline plane */
.planeImageDiv {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.planeImageDiv .inside_wrapper img {
    position: absolute;
    cursor: pointer;
}

.planeImageDiv img.bottom_image {
    top: 167px;
    width: 420px;
}

.planeImageDiv img.top_image {
    top: 155px;
    width: 470px;
}

.planeImageDiv img.scale_image {
    top: 149px;
    z-index: 2;
    width: 45px;
}

.planeImageDiv .surface_image {
    top: 158px;
    z-index: 1;
    width: 425px;
    left: 30px;
    position: absolute;
}

.planeImageDiv img.weight_image {
    top: 135px;
    z-index: 1;
    width: 76px;
    left: 252px;
}

/* .content_div{
    top: 61%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 58%;
} */
.popup_btn {
    width: 40px;
    height: 40px;
    background: var(--theme-pri-color);
    border: none;
    border-radius: 50%;
    right: 25px;
    /* position: fixed; */
    bottom: 55px;
    margin-right: 8px;
}

.popup_btn.smallRightBtn {
    margin-left: 5px;
}

.triangle_right {
    position: relative;
    top: 1px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    transform: rotate(400deg);
    margin-right: auto;
    margin-left: auto;
    right: 0px;
    left: -2px;
}

.triangle_left {
    position: relative;
    top: 1px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border-right: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    transform: rotate(220deg);
    margin-right: auto;
    margin-left: auto;
    right: 0px;
    left: 2px;

}

.smallLeftBtn, .smallRightBtn {
    width: 30px;
    height: 30px;

}

.bigLeftBtn {
    left: 260px;
    top: 28px;
}

.smallLeftBtn {
    left: 309px;
    top: 33px;

}

.angle_div {
    width: 74px;
    background: white;
    border: 1px solid var(--theme-pri-color);
    display: inline-block;
    border-radius: 7px;
    padding: 3px 5px;
}

.leftbar {
    top: -12px;
    position: absolute;
}

/*
.planeImageDiv{
    position:absolute;
    width:100%;
    margin-top: 65px;
}*/

.inside_wrapper {
    position: relative;
    width: 530px;
    min-height: 226px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
}

#split-1 {
    background-color: var(--theme-popup-background);
}

.bottom_content {
    width: 100%;
    background-color: var(--theme-popup-background);
    overflow: auto;
    max-height: 100%;
    /*position: absolute;
    bottom: 0px;*/
    /*border-top: 1px solid var(--theme-popup-border);*/
    z-index: 25;
    /*outline: 1px solid var(--theme-popup-border);*/
    padding-bottom: 10px;
    margin: 0;
}

.bottom_content .input_box {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    min-width: 160px;
    display: inline-block;
    padding-left: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.content_wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow: auto;
}

.spancalculate.angle_plane {
    width: auto;
    background: none;
    border: none
}

.rotatingDiv {

    position: relative;
    height: 186px;

}

.bottom_boxes span {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    /* padding: 5px; */
    margin: 0 5px;
}

.bottom_boxes {
    width: 72%;
    margin: 0 auto;
}

.bottom_boxes span.glass_box {
    background-color: #B9CEE2;
}

.bottom_boxes span.green_box {
    background-color: #9AE210;
}

.bottom_boxes span.wood_box {
    background-color: #CD9436;
}

.padding-right-0 {
    padding-right: 0;
}

.bottom_content b {
    font-family: 'Montserrat-SemiBold';
}

.repeat_btn button {
    position: absolute;
    left: 50%;
    border: 1px solid #fff;
    width: 81px;
    padding: 0 5px;
    border-radius: 5px;
    height: 40px;
    margin: 5px 0;
    color: #ffffff;
    cursor: pointer;
}

.repeat_btn button:hover {
    color: #ffffff;
}

.surface_div {
    background: #ffffff;
    padding: 5px 10px;
    min-width: 260px;
    border-radius: 10px;
    border: 1px solid #ccc;
    height: 80px;
    width: 260px;
}

.surface_div button {
    /*padding-right: 60px;*/
    padding: 0;
    width: 70px;
}

.surface_div button:last-child {
    padding-right: 0px;
}

.content_div {
    margin: 0 10px 10px;
}

.AngleofPlane_div {
    text-align: center;
}

.content_div .surface_div {
    margin-bottom: 10px;
    margin: 0 auto;


}

.content_div .AngleofPlane_div {
    width: 280px;
    margin-bottom: 10px;
    margin: 0 auto;

}

.content_div .sliderMassWrapper {
    width: 280px;
    margin-bottom: 10px;
    margin: 0 auto;
    float: none;
}

.surface_div p {
    margin-bottom: 0;
    font-family: 'Montserrat-SemiBold';
}

.content_div .col-md-4 {
    min-width: 300px;
}

.btn-check:focus+.btn, .btn:focus {
    box-shadow: none
}

.rotatingDiv.moveObj .weight_image {

    animation: 3s linear 0s slide;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.repeat_btn .btn_info:active {
    background-color: transparent;
}

.procInnerSliderWrapper .surface_div {
    width: 173px;
    min-width: 186px;
}

.procInnerSliderWrapper .surface_div button img, .procInnerSliderWrapper .surface_div button {
    width: 50px;
}

.procBox .angle_div {
    width: 40px;
}

.procInnerSliderWrapper .slider-label {
    margin-bottom: 25px;
    text-align: center;
}

.procInnerSliderWrapper .popup_btn.smallRightBtn {
    margin-left: 0;
}

.procBox .popup_btn {
    margin-right: 0;
}

.f_div {
    float: left;
}

.s_div {
    float: left;
    margin-left: 85px;
}

.procBox .btn-wrap {
    text-align: center;
}

.procBox .btn_calculations svg .cls-1, .btn_calculations svg .cls-2, .btn_calculations svg .cls-3 {
    stroke: var(--theme-pri-color);
}

.procBox .btn_calculations {
    background: #ffffff;
}

.procBox .sliderWrapper .sliderInnerWrapper {
    width: 100px;
}

.procBox .slider-label {
    text-align: center;
}

.procBox .procInnerSliderWrapper {
    margin: 0 auto;
}

.procSliderWrapper .sliderMassWrapper {
    margin: 0 auto;
    width: 85%;
    float: none;
}

.weight_A {
    position: absolute;
    z-index: 3;
    position: absolute;
    top: 141px;
    left: 253px;
    font-family: 'Montserrat-Bold';
    color: #ffffff;
    width: 74px;
    text-align: center;

}

/* .procSliderWrapper .sliderInnerWrapper{
    width:90px;
    float:left;
}
.procInnerSliderWrapper .inputContainer .input_box{
    width:45px;
    min-width:45px;
    padding-left:0;
    margin-top:-15px;
}
.procInnerSliderWrapper .inputContainer .unit{
    margin-top:-15px;
} */
#split-main .content-container {
    transform-origin: center top;
}
.contWraper {
    height: 100%;
}

.zoom1, .zoom2 {
    transform-origin: left top;
}

.slate-wrap {
    position: absolute;
    bottom: 10px;
}

@keyframes slide {
    from {
        left: 252px;
    }

    to {
        left: 180px;
        transform: translateX(-100%);
    }

}

@media only screen and (max-width: 900px) {
    .bottom_content .input_box {
        min-width: 120px;

    }
}

@media only screen and (min-device-width: 600px) and (max-device-width: 820px) and (orientation: portrait) {

    .inputContainer .input_box {
        min-width: 40px;
        padding: 3px 0;
    }

    .content_div .col-md-4 {
        min-width: 350px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .planeImageDiv img.bottom_image {
        top: 170px;
        width: 320px;
    }

    .planeImageDiv img.top_image {
        top: 158px;
        width: 402px;
    }

    .planeImageDiv .surface_image {
        top: 160px;
        z-index: 1;
        width: 354px;
    }

    .planeImageDiv img.weight_image {
        top: 137px;
        z-index: 1;
        width: 70px;
    }

    .weight_A {
        top: 144px;
        left: 251px;
    }

    .inside_wrapper {
        width: 410px;
    }

    .planeImageDiv img.scale_image {
        top: 153px;
        z-index: 2;
        width: 39px;
    }

    .surface_div {
        margin-top: 10px !important;
    }

    .sliderWrapper .sliderInnerWrapper {
        width: 180px;
    }

}

@media only screen and (min-device-width: 560px) and (max-device-width: 680px) {
    .col-sm-12 {
        width: 100% !important;
    }
}

@media only screen and (max-width: 500px) {
    .bottom_content .input_box {
        min-width: 90px;

    }

    .s_div {
        margin-left: 50px;
    }

    /* .content_div .col-md-4{
    margin-top:20px;
} */
    .content_div .col-md-4 .surface_div {
        margin-top: 10px;
        margin-top: 10px;
        width: 242px;
        min-width: 242px;
        height: 65px;
    }

    .inside_wrapper {
        width: 290px;
        min-height: 200px;
    }

    .planeImageDiv img.bottom_image {
        width: 250px;
    }

    .planeImageDiv img.top_image {
        top: 157px;
        width: 310px;
    }

    .planeImageDiv .surface_image {
        top: 159px;
        width: 256px;
    }

    .planeImageDiv img.weight_image {
        top: 142px;
        width: 50px;
        left: 192px;
    }

    .planeImageDiv img.scale_image {
        top: 154px;
        width: 30px;
    }

    .inside_wrapper {
        margin-top: 10px;
    }

    .repeat_btn button {
        right: 10px;
        left: auto;
    }

    .procBox .sliderWrapper .sliderInnerWrapper {
        width: 140px;
    }

    .procBox .slider-label {
        text-align: center;
    }

    .procBox .procInnerSliderWrapper {
        margin: 0 auto;
    }

    .weight_A {
        top: 143px;
        left: 194px;
        width: 47px;
    }

    .content_div .surface_div img {
        width: 66px;
    }

    .cust-popup.procedure {
        max-height: 100%;
    }

    


    @keyframes slide {
        from {
            left: 194px;
        }

        to {
            left: 140px;
            transform: translateX(-100%);
            background: blue;
        }
    }
}

/* @media only screen and (min-width: 731px)
{
.bottom_content .col-sm-12 {
     width: 50%;

}
} */